.article-loader-wrapper
  margin-top: 160px
  height: 500px
  min-width: 100%
  .article-comments-wrapper
    margin-top: 20px
    margin-bottom: 20px
  .article-first-title
    margin-top: 50px
    padding: 20px
    font-weight: bold
    font-size: 32px
  .article-second-title
    margin-top: 50px
    padding: 20px
    font-weight: bold
    font-size: 20px
  .article-body,
  .article-second-body
    line-height: 2em
    margin-top: 50px
    padding: 20px
    font-size: 18px
  .cover-background
    background-color: #404040
    display: flex
    width: 100%
    height: 100%
    background-position: center
    background-size: cover
    position: relative
    &.contained
      background-size: contain
      background-repeat: no-repeat
    .warner
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      display: flex
      align-items: center
      justify-content: center
      cursor: pointer
      .pulsate
        margin: 0
        color: #ffffff
        font-weight: bold
        font-size: 30px
        -webkit-animation: pulsate 2s ease-out
        -webkit-animation-iteration-count: 3
        opacity: 0

        @-webkit-keyframes pulsate
          0%
            opacity: 0

          20%
            opacity: 0.2

          30%
            opacity: 0.3

          50%
            opacity: 1.0

          70%
            opacity: 0.3

          80%
            opacity: 0.2

          100%
            opacity: 0
  .author-header
    display: flex
    align-items: center
    justify-content: space-evenly
    display: flex
    width: 100%
    height: 100px
    .author-avatar
      border-radius: 50%
      width: 60px
      height: 60px
    .author-name
      flex: 1
      margin-left: 20px
      .label
        font-size: 10px
      p
        margin: 0
    .article-header-extra-info
      p
        margin: 0
    .post-actions
      margin-left: 40px
      p
        background-color: green
        padding: 5px
        margin-bottom: 5px
        border-radius: 5px
        cursor: pointer
        color: white