.comment-creator-wrapper
  margin-bottom: 20px
  .form-wrapper
    padding: 10px
    border: 1px solid gray
    border-radius: 10px
    .comment-author-header
      display: flex
      height: 80px
      align-items: center
      margin-bottom: 10px
      padding: 10px
      img
        width: 60px
        height: auto
        border-radius: 50%
        margin-right: 20px
      p
        margin: 0
    textarea
      width: 100%
  .create-button-wrapper
    cursor: pointer
    padding: 10px
    background-color: orange
    text-align: center
    color: white
    font-weight: bold
    border-radius: 10px