.comment-wrapper
  padding: 15px
  border: 1px solid gray
  border-radius: 10px
  margin-bottom: 10px
  .comment-body
    margin-top: 10px
    p
      margin: 0
  .comment-header
    padding: 10px
    .author
      display: flex
      .comment-actions
        i
          margin: 10px
          cursor: pointer
        .font-icon
          cursor: pointer
          &.selected
            color: red
      img
        width: 60px
        height: 60px
        border-radius: 50%
        margin-right: 20px
      p
        margin: 0
      .author-name
        flex: 1