.content-loader-wrapper
  margin-top: 160px
  .create-post-wrapper
    padding-top: 20px
    padding-bottom: 10px
    p
      margin: 0
      padding: 10px
      background-color: green
      border-radius: 5px
      cursor: pointer
      color: white
      font-weight: bold
      text-align: center
  .post-wrapper
    display: flex
    flex-direction: column
    .loader-tag
      padding: 1px 10px
      font-size: 18px
      margin: 10px
      font-weight: bold
      p
        margin: 0
        &.loader-cat-name
          margin-left: 10px
      .font-icon
        margin-left: 10px
        cursor: pointer
        &.selected
          color: red
    .post-body, .post-second-title
      padding: 0px 10px
    .shadow-div
      position: relative
      margin-top: -130px
      height: calc(100% - 20px)
      height: 150px
      background: rgba(207, 207, 207, 0)
      background: -moz-linear-gradient(top, rgba(207, 207, 207, 0) 0%, rgba(207, 207, 207, 0) 0%, rgba(200, 200, 200, 1) 49%, rgba(199, 199, 199, 1) 54%, rgba(238, 238, 238, 1) 100%)
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(207, 207, 207, 0)), color-stop(0%, rgba(207, 207, 207, 0)), color-stop(49%, rgba(200, 200, 200, 1)), color-stop(54%, rgba(199, 199, 199, 1)), color-stop(100%, rgba(238, 238, 238, 1)))
      background: -webkit-linear-gradient(top, rgba(207, 207, 207, 0) 0%, rgba(207, 207, 207, 0) 0%, rgba(200, 200, 200, 1) 49%, rgba(199, 199, 199, 1) 54%, rgba(238, 238, 238, 1) 100%)
      background: -o-linear-gradient(top, rgba(207, 207, 207, 0) 0%, rgba(207, 207, 207, 0) 0%, rgba(200, 200, 200, 1) 49%, rgba(199, 199, 199, 1) 54%, rgba(238, 238, 238, 1) 100%)
      background: -ms-linear-gradient(top, rgba(207, 207, 207, 0) 0%, rgba(207, 207, 207, 0) 0%, rgba(200, 200, 200, 1) 49%, rgba(199, 199, 199, 1) 54%, rgba(238, 238, 238, 1) 100%)
      background: linear-gradient(to bottom, rgba(207, 207, 207, 0) 0%, rgba(207, 207, 207, 0) 0%, rgba(200, 200, 200, 1) 49%, rgba(199, 199, 199, 1) 54%, rgba(238, 238, 238, 1) 100%)
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#eeeeee', GradientType=0 )
    .post-image
      .image
        width: 100%
    .see-more-wrapper
      text-decoration: none
      text-align: center
      .see-more
        margin-top: 20px
        background-color: orange
        padding: 5px
        border-radius: 4px
        p
          margin: 0
          color: #444
          &:hover
            color: green
    &:not(:first-child)
      padding-top: 60px
      padding-bottom: 30px
      border-top: 2px solid green