.editor
  display: flex
  .editor-wrapper
    padding: 20px
    margin-top: 160px
    width: 100%
    form
      margin-top: 20px
      display: flex
      flex-direction: column
      label
        display: flex
        flex-direction: column
        .big-input
          height: 100px