body, html
  padding: 0
  margin: 0
.header-wrapper
  display: flex
  flex-direction: column
  background-color: #EEEEEE
  align-items: center
  width: 100%
  padding: 10px
  position: fixed
  z-index: 9
  -webkit-box-shadow: 0px 11px 31px -6px rgba(0,0,255,0.55);
  -moz-box-shadow: 0px 11px 31px -6px rgba(0,0,255,0.55);
  box-shadow: 0px 11px 31px -6px rgba(0,0,255,0.55);
  .header-title-link
    img
      margin-bottom: 10px
      max-width: 60px
  .tag-wrapper
    display: flex
    .tag
      display: flex
      align-items: center
      padding: 0px 5px
      border-radius: 5px
      cursor: pointer
      font-size: 14px
      max-height: 25px
      margin: 0 10px
      p
        margin: 1em 0px
      &.selected
        font-size: 18px
        font-weight: bold
        background-color: white