.post-creator-wrapper
  .creator
    padding-top: 160px
    margin-bottom: 40px
    .form-wrapper
      display: flex
      flex-direction: column
      label
        display: flex
        flex-direction: column
        margin-bottom: 20px
        textarea.big-input
          height: 100px
      .post-author-header
        display: flex
        height: 80px
        align-items: center
        margin-bottom: 10px
        padding: 10px
        img
          width: 60px
          height: auto
          border-radius: 50%
          margin-right: 20px
        p
          margin: 0