.App {
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
  font-family: 'Roboto', sans-serif; }
  .App .main-wrapper {
    display: flex;
    justify-content: center; }

body, html {
  padding: 0;
  margin: 0; }

.header-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
  align-items: center;
  width: 100%;
  padding: 10px;
  position: fixed;
  z-index: 9;
  -webkit-box-shadow: 0px 11px 31px -6px rgba(0, 0, 255, 0.55);
  -moz-box-shadow: 0px 11px 31px -6px rgba(0, 0, 255, 0.55);
  box-shadow: 0px 11px 31px -6px rgba(0, 0, 255, 0.55); }
  .header-wrapper .header-title-link img {
    margin-bottom: 10px;
    max-width: 60px; }
  .header-wrapper .tag-wrapper {
    display: flex; }
    .header-wrapper .tag-wrapper .tag {
      display: flex;
      align-items: center;
      padding: 0px 5px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
      max-height: 25px;
      margin: 0 10px; }
      .header-wrapper .tag-wrapper .tag p {
        margin: 1em 0px; }
      .header-wrapper .tag-wrapper .tag.selected {
        font-size: 18px;
        font-weight: bold;
        background-color: white; }

.content-loader-wrapper {
  margin-top: 160px; }
  .content-loader-wrapper .create-post-wrapper {
    padding-top: 20px;
    padding-bottom: 10px; }
    .content-loader-wrapper .create-post-wrapper p {
      margin: 0;
      padding: 10px;
      background-color: green;
      border-radius: 5px;
      cursor: pointer;
      color: white;
      font-weight: bold;
      text-align: center; }
  .content-loader-wrapper .post-wrapper {
    display: flex;
    flex-direction: column; }
    .content-loader-wrapper .post-wrapper .loader-tag {
      padding: 1px 10px;
      font-size: 18px;
      margin: 10px;
      font-weight: bold; }
      .content-loader-wrapper .post-wrapper .loader-tag p {
        margin: 0; }
        .content-loader-wrapper .post-wrapper .loader-tag p.loader-cat-name {
          margin-left: 10px; }
      .content-loader-wrapper .post-wrapper .loader-tag .font-icon {
        margin-left: 10px;
        cursor: pointer; }
        .content-loader-wrapper .post-wrapper .loader-tag .font-icon.selected {
          color: red; }
    .content-loader-wrapper .post-wrapper .post-body, .content-loader-wrapper .post-wrapper .post-second-title {
      padding: 0px 10px; }
    .content-loader-wrapper .post-wrapper .shadow-div {
      position: relative;
      margin-top: -130px;
      height: calc(100% - 20px);
      height: 150px;
      background: rgba(207, 207, 207, 0);
      background: -moz-linear-gradient(top, rgba(207, 207, 207, 0) 0%, rgba(207, 207, 207, 0) 0%, #c8c8c8 49%, #c7c7c7 54%, #eeeeee 100%);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(207, 207, 207, 0)), color-stop(0%, rgba(207, 207, 207, 0)), color-stop(49%, #c8c8c8), color-stop(54%, #c7c7c7), color-stop(100%, #eeeeee));
      background: -webkit-linear-gradient(top, rgba(207, 207, 207, 0) 0%, rgba(207, 207, 207, 0) 0%, #c8c8c8 49%, #c7c7c7 54%, #eeeeee 100%);
      background: -o-linear-gradient(top, rgba(207, 207, 207, 0) 0%, rgba(207, 207, 207, 0) 0%, #c8c8c8 49%, #c7c7c7 54%, #eeeeee 100%);
      background: -ms-linear-gradient(top, rgba(207, 207, 207, 0) 0%, rgba(207, 207, 207, 0) 0%, #c8c8c8 49%, #c7c7c7 54%, #eeeeee 100%);
      background: linear-gradient(to bottom, rgba(207, 207, 207, 0) 0%, rgba(207, 207, 207, 0) 0%, #c8c8c8 49%, #c7c7c7 54%, #eeeeee 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#eeeeee', GradientType=0 ); }
    .content-loader-wrapper .post-wrapper .post-image .image {
      width: 100%; }
    .content-loader-wrapper .post-wrapper .see-more-wrapper {
      text-decoration: none;
      text-align: center; }
      .content-loader-wrapper .post-wrapper .see-more-wrapper .see-more {
        margin-top: 20px;
        background-color: orange;
        padding: 5px;
        border-radius: 4px; }
        .content-loader-wrapper .post-wrapper .see-more-wrapper .see-more p {
          margin: 0;
          color: #444; }
          .content-loader-wrapper .post-wrapper .see-more-wrapper .see-more p:hover {
            color: green; }
    .content-loader-wrapper .post-wrapper:not(:first-child) {
      padding-top: 60px;
      padding-bottom: 30px;
      border-top: 2px solid green; }

.article-loader-wrapper {
  margin-top: 160px;
  height: 500px;
  min-width: 100%; }
  .article-loader-wrapper .article-comments-wrapper {
    margin-top: 20px;
    margin-bottom: 20px; }
  .article-loader-wrapper .article-first-title {
    margin-top: 50px;
    padding: 20px;
    font-weight: bold;
    font-size: 32px; }
  .article-loader-wrapper .article-second-title {
    margin-top: 50px;
    padding: 20px;
    font-weight: bold;
    font-size: 20px; }
  .article-loader-wrapper .article-body,
  .article-loader-wrapper .article-second-body {
    line-height: 2em;
    margin-top: 50px;
    padding: 20px;
    font-size: 18px; }
  .article-loader-wrapper .cover-background {
    background-color: #404040;
    display: flex;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative; }
    .article-loader-wrapper .cover-background.contained {
      background-size: contain;
      background-repeat: no-repeat; }
    .article-loader-wrapper .cover-background .warner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
      .article-loader-wrapper .cover-background .warner .pulsate {
        margin: 0;
        color: #ffffff;
        font-weight: bold;
        font-size: 30px;
        -webkit-animation: pulsate 2s ease-out;
        -webkit-animation-iteration-count: 3;
        opacity: 0; }

@-webkit-keyframes pulsate {
  0% {
    opacity: 0; }
  20% {
    opacity: 0.2; }
  30% {
    opacity: 0.3; }
  50% {
    opacity: 1.0; }
  70% {
    opacity: 0.3; }
  80% {
    opacity: 0.2; }
  100% {
    opacity: 0; } }
  .article-loader-wrapper .author-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    width: 100%;
    height: 100px; }
    .article-loader-wrapper .author-header .author-avatar {
      border-radius: 50%;
      width: 60px;
      height: 60px; }
    .article-loader-wrapper .author-header .author-name {
      flex: 1;
      margin-left: 20px; }
      .article-loader-wrapper .author-header .author-name .label {
        font-size: 10px; }
      .article-loader-wrapper .author-header .author-name p {
        margin: 0; }
    .article-loader-wrapper .author-header .article-header-extra-info p {
      margin: 0; }
    .article-loader-wrapper .author-header .post-actions {
      margin-left: 40px; }
      .article-loader-wrapper .author-header .post-actions p {
        background-color: green;
        padding: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        cursor: pointer;
        color: white; }

.editor {
  display: flex; }
  .editor .editor-wrapper {
    padding: 20px;
    margin-top: 160px;
    width: 100%; }
    .editor .editor-wrapper form {
      margin-top: 20px;
      display: flex;
      flex-direction: column; }
      .editor .editor-wrapper form label {
        display: flex;
        flex-direction: column; }
        .editor .editor-wrapper form label .big-input {
          height: 100px; }

.comment-wrapper {
  padding: 15px;
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 10px; }
  .comment-wrapper .comment-body {
    margin-top: 10px; }
    .comment-wrapper .comment-body p {
      margin: 0; }
  .comment-wrapper .comment-header {
    padding: 10px; }
    .comment-wrapper .comment-header .author {
      display: flex; }
      .comment-wrapper .comment-header .author .comment-actions i {
        margin: 10px;
        cursor: pointer; }
      .comment-wrapper .comment-header .author .comment-actions .font-icon {
        cursor: pointer; }
        .comment-wrapper .comment-header .author .comment-actions .font-icon.selected {
          color: red; }
      .comment-wrapper .comment-header .author img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 20px; }
      .comment-wrapper .comment-header .author p {
        margin: 0; }
      .comment-wrapper .comment-header .author .author-name {
        flex: 1; }

.comment-creator-wrapper {
  margin-bottom: 20px; }
  .comment-creator-wrapper .form-wrapper {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px; }
    .comment-creator-wrapper .form-wrapper .comment-author-header {
      display: flex;
      height: 80px;
      align-items: center;
      margin-bottom: 10px;
      padding: 10px; }
      .comment-creator-wrapper .form-wrapper .comment-author-header img {
        width: 60px;
        height: auto;
        border-radius: 50%;
        margin-right: 20px; }
      .comment-creator-wrapper .form-wrapper .comment-author-header p {
        margin: 0; }
    .comment-creator-wrapper .form-wrapper textarea {
      width: 100%; }
  .comment-creator-wrapper .create-button-wrapper {
    cursor: pointer;
    padding: 10px;
    background-color: orange;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 10px; }

.post-creator-wrapper .creator {
  padding-top: 160px;
  margin-bottom: 40px; }
  .post-creator-wrapper .creator .form-wrapper {
    display: flex;
    flex-direction: column; }
    .post-creator-wrapper .creator .form-wrapper label {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px; }
      .post-creator-wrapper .creator .form-wrapper label textarea.big-input {
        height: 100px; }
    .post-creator-wrapper .creator .form-wrapper .post-author-header {
      display: flex;
      height: 80px;
      align-items: center;
      margin-bottom: 10px;
      padding: 10px; }
      .post-creator-wrapper .creator .form-wrapper .post-author-header img {
        width: 60px;
        height: auto;
        border-radius: 50%;
        margin-right: 20px; }
      .post-creator-wrapper .creator .form-wrapper .post-author-header p {
        margin: 0; }
